/* .Class-div {
	display: flex;
	flex-direction: column;
	text-align: center;
	border-bottom: solid 1px rgba(212, 212, 255, 0.1);
	border-right: solid 1px rgba(212, 212, 255, 0.1);
	flex: 0 0 25%;
	min-width: 15vw;
}

.classname h1 {
	font-size: 4rem;
	margin: 0 auto;
	text-shadow: 5px 5px 5px MEDIUMPURPLE;
	color: white;
}
.class-info-div {
	display: flex;
	flex-direction: column;
}
.locationName {
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 30px;
	margin: 0 auto;
}

.locationSpan {
	font-weight: bold;
	color: white;
	margin: 0;
}
.class-info-time {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.class-info-time p {
	text-align: center;
	margin: 0 0;
	font-size: 30px;
}
.AboutClass {
	margin: 0;
}
.AboutClass h2 {
	text-shadow: 5px 5px 5px MEDIUMPURPLE;
	text-align: center;
	display: flex;
	flex-direction: column;
	margin: 0;
}
.classRole {
	display: flex;
	justify-content: space-around;
}
.extraInfo {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 30px;
}
.classSizeSpan {
	font-size: 30px;
}
.difficultySpan {
	font-size: 30px;
}

#SignupBTN {
	text-shadow: 5px 5px 5px MEDIUMPURPLE;
	align-self: center;
	font-weight: bold;
	font-size: 25px;
	border: 1px solid white;
	width: 20vw;
} */
.Class-div {
	border-bottom: solid 1px rgba(212, 212, 255, 0.1);
	border-right: solid 1px rgba(212, 212, 255, 0.1);
	flex: 0 0 25%;
	min-width: 48vw;
}
@media (max-width: 980px) {
	flex: 0 0 12.5%;
}
